.App-header {
  background-color: #902090;
  background-image: linear-gradient(to bottom, #ff0000 0%, #ff0000 16%, #fb5607 16%, #fb5607 32%, #fcab10 32%, #fcab10 48%, #44af69 48%, #44af69 64%, #2b9eb3 64%, #2b9eb3 82%, #5c27aa 82%, #5c27aa 100%);
  background-repeat: no-repeat;
  background-size: 50px 30px;
  background-position: 50% 30px;
  background-position: 50% calc(100% - 30px);
  padding: 30px 30px 85px 30px;
  color: white;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .App-header {
    padding: 30px;
    background-image: linear-gradient(135deg, transparent 0%, transparent 50%, #ff0000 50%, #ff0000 58%, #fb5607 58%, #fb5607 66%, #fcab10 66%, #fcab10 74%, #44af69 74%, #44af69 82%, #2b9eb3 82%, #2b9eb3 90%, #5c27aa 90%, #5c27aa 100%);
    background-repeat: no-repeat;
    background-size: 200px 100%;
    background-position: 100% 0;
    text-align: left;
  }
}

.App-title {
  font-size: 1.5em;
  margin: 0 0 10px 0;
}

.App-subtitle {
  line-height: 1.4;
}

.App-footer {
  text-align: center;
  max-width: 980px;
  margin: 30px auto;
  padding: 0 20px;
}

.App-footer strong {
  font-weight: 700;
}

.App-footer p {
    line-height: 1.4;
    font-size: .875em;
    margin: 0 0 10px 0;
}

.App-footer a {
    color: #222;
    text-decoration: none;
    border-bottom: 1px solid #222;
    padding-bottom: 2px;
}

.App-footer a:hover,
.App-footer a:active,
.App-footer a:focus {
    border-bottom-color: transparent;
}

.App-footer a:visited {
    border-bottom-style: dashed;
}